a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#242424; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_10fa1e7e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_10fa1e7e_padding { margin: 20px; display: block;  }
.textstyle2 { text-align:left; }
#container_6a66f0ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:448px; background-color:#FFFFFF; background-image: url(rc_images/wallpaperflare_com_wallpaper__1_.jpg); background-position:top center; background-size:cover;  }
#container_73277115 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:94px; background:none;  }
#container_73277115_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:20pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#000000;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_c131272 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_c131272_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#464646; font-weight:bold;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#464646;  }
#button_b61e83 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:150px; height:40px; background-color:#B89D76;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F;  }
#container_36889197 { vertical-align: top; position:relative; display: inline-block; width:63%; min-height:158px; max-width:500px; background:none;  }
#container_36889197_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#303030; line-height: 1.5;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#464646; line-height: 1.5;  }
#youtube_15ec8179 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:675px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#img_1ef4dcbd { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_fb7d91b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:646px; background-color:#696969;  }
#container_fb7d91b_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:44pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#CECECE; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#CECECE;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#CECECE; line-height: 1.5;  }
#text_10e32479 { position:absolute; left:-1%; top:-2%; width:548px; height:65px; background:none;  }
.textstyle13 { text-align:right; }
.textstyle14 { font-size:40pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_65b495a2 { position:absolute; left:0%; top:50%; width:50%; background:none; height:auto;  }
#container_2a6791f0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#696969;  }
#container_2a6791f0_padding { margin: 10px; display: block;  }
